@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Tourney";
  font-display: block;
  src: url("../fonts/Tourney.ttf");
}

@media screen and (prefers-color-scheme: dark) {
  .darquba {
    font-weight: 900;
    background: linear-gradient(
      to right,
      #994848 20%,
      #2e2e2e 30%,
      #a5a4a4 70%,
      #e73434 80%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 500% auto;
    animation: textShine 10s ease-in-out infinite alternate;
  }
}

@keyframes textShine {
  0% {
    background-position: 0% 50%;
  }

  100% {
    background-position: 100% 50%;
  }
}

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75;
  }
}
